body, html {
  width: 100%;
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
}

#map {
  position: relative;
  width: 100%;
  height: 100%;
}

.ctrl-panel {
    background-color: #f8f8f8;
    border-right: solid #ccc 1px;
    border-bottom: solid #ccc 1px;
    max-width: 450px;
    max-height: calc(100% - 50px);
    color: #274190;
    font-size: 12px;
    left: 0;
    padding: 10px;
    position: absolute;
    text-align: justify;
    z-index: 10;
    clear: both;
}